/* ===== CONFIGURAÇÃO GLOBAL ===== */
body {
    overflow: hidden;
    min-height: 100vh;

    background-image: url('../../assets/imgs/fundolongincasd_upscayl_2x_upscayl-standard-4x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.logo {
    width: 75px;
    height: auto;
    display: block;
    margin: 25px 0 0 35px;
}

.login-side {
    width: 37%;
    margin: -95px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--fundo-div);
    box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
}

.login-side h2 span {
    color: var(--botao);
}

.divp {
    margin: 0 120px;
    text-align: center;
}

.input-group select {
     width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.tit {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
}

.tit span{
    color: var(--botao);
}
label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: var(--botao);
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

button {
    width: 100%;
    padding: 14px;
    background-color: var(--botao);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--trans-botao);
}

.login-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-text a {
    color: var(--botao);
    font-weight: bold;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 0 20px;
    }

    .login-side {
        padding: 30px;
    }

    .login-side h2 {
        font-size: 24px;
    }
}

.register {
    text-align: center;
    margin-top: 25px;
    font-size: 1.1rem;
    color: #000;
}

.register a {
    color: var(--trans-botao);
    font-weight: 600;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

.alerta_erro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

.card_erro {
    display: none;
    background-color: #f8d7da;
    color: var(--botao);
    padding: 10px 20px;
    border: 1px solid #f5c6cb;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loading-div {
    display: none;
    text-align: center;
    margin-top: 15px;
}

#loading-gif {
    width: 40px;
}