body {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;

    background-image: url('../../assets/imgs/fundohome_upscayl_2x_digital-art-4x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-hero {
    width: 92%;
    max-width: 1500px;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-hero img {
    width: 380px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.banner-content{
      width: 60%;
    height: auto;
    
}
.banner-content h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 20px 0;

}
.banner-content h1 span{
    color: var(--botao);
}

.banner-content p {
    font-size: 25px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 30px;
}



.button-saiba-mais {
    background-color: var(--botao);
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.button-saiba-mais:hover {
    background-color: var(--trans-botao);
    color: white;
}