body {
  background-image: url('../../assets/imgs/fundosobre.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

   overflow: hidden;
   min-height: 100vh;
}
.header .container {
   padding: 20px 0; /* Ou o mesmo valor usado no nav.css */
}


.NossaMissao .container {
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* muda de linha pra coluna */
}

.p_container{
  font-size: 4rem;
  font-weight: 700;
  color: var(--Vermelho-vivo);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  max-width: 400px;
  margin: 0 auto 1px auto;
}

.p_desc{
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
}

.divisao {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;

}

.info {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px 20px;
  height: 300px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid #eee;
}

.info:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.info img {
  width: 75px;
  height: auto;
  margin-bottom: 15px;
}

.info h3 {
  font-size: 20px;
  color: var(--Vermelho-vivo);
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.info p {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}