nav {
    width: 60%;
    height: 8%;
    border: black;
    border-radius: 15px;
    background-color: var(--vermelhao);
    align-items: center;
    justify-content: space-around;
    display: flex;
    align-self: flex-end;
    margin-bottom: 1%;
}

nav a {
    color: var(--cor-de-destaque);
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    transform: translateY(-5px);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}