nav {
    width: 60%;
    height: 8%;
    border: black;
    border-radius: 15px;
    background-color: var(--botao);

    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin-top: 40%;
    position: fixed;
}

nav a {
    color: var(--fundo-div);
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    transform: translateY(-5px);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}