@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  background-color: #B9D1DF;
  padding: 15px 0;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}


.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.titulo img {
  width: 55px;
  height: auto;
}


.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}


.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  transition: 0.3s;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.navbar a:hover {
  color: #003080;
}

.navbar li:nth-child(3) {
  color: #555;
  margin: 0 10px;
}

.navbar a[href*="login"],
.navbar a[href*="cadastro"] {
  background-color: #001f4d; 
  color: #fff;
  padding: 4px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); 
  transition: 0.3s;
}

.navbar a[href*="login"]:hover,
.navbar a[href*="cadastro"]:hover {
  background-color: #003080;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}


