@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

}

:root {
    --botao: #4A0000;
    --trans-botao: #670000;

    --Vermelho-vivo: #830000;

    --Vermelho-vibrante: #9F0000;
    --Vermelho-suave: #9F0000;
    --rosa-claro: #FFD2D2;
    
    --fundo-div: #FFEDED;
    --fundo: #F5F5F5;
}